body{
    font-family: 'Domine', serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.border{
    border-left: seagreen;
}
.blue-color{
    color: blue;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left:10%;
}
.half-width img{
    width:70%;
}
.link-button{
    text-decoration: none;
    background-color: darkcyan;
    color: yellow;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
fotter p{
    text-align: center;
    background-color: burlywood;
}
#id{
    font-style: italic;
    font-weight: 700;
}



